<div class="card d-flex flex-row align-item-center justify-content-center gap-3 px-3" style="width: 35rem; height: 7rem; overflow: scroll">
    <% (0..10).each do %>
    <%= render 'story/story'%>
    <% end %>
</div>