<div class="d-flex justify-content-between">
    <div class="d-flex">
        <%= image_tag 'default_user.png', class: "img-thumbnail rounded-circle", style: "width: 2.5rem"%>
        <div class="d-flex flex-column mx-2">
            <small class="fw-bold" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 10rem">Username</small>
            <small class="text-muted" style="font-size: .8rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 10rem">Seni takip ediyor</small>
        </div>    
    </div>

    <div>
        <%= link_to root_path, style:"text-decoration: none" do%>
            <small class="fw-bold text-primary ">Takip Et</small>
        <% end %>
    </div>
</div>